* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: radial-gradient(circle at top, #020617, #000000);
  color: #e5e7eb;
}

/* HERO */
.hero {
  padding: 60px 20px 40px;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  color: #38bdf8;
  margin-bottom: 10px;
}

.tagline {
  color: #94a3b8;
  font-size: 18px;
  margin-bottom: 15px;
}

.quote {
  font-style: italic;
  color: #facc15;
  font-size: 16px;
}

/* APP */
.app {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}

/* STATS */
.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-bottom: 40px;
}

.stat {
  background: #020617;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 40px rgba(56,189,248,0.15);
}

.stat h2 {
  font-size: 36px;
  color: #38bdf8;
}

/* INPUT */
.task-input {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr auto;
  gap: 15px;
  margin-bottom: 45px;
}

input, select {
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: #0f172a;
  color: white;
}

button {
  padding: 14px 22px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(135deg, #38bdf8, #2563eb);
  color: black;
  font-weight: 600;
  cursor: pointer;
}

/* BOARDS */
.boards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
}

.board {
  background: #020617;
  padding: 30px;
  border-radius: 22px;
  box-shadow: 0 0 50px rgba(56,189,248,0.12);
}

.board h3 {
  color: #38bdf8;
  margin-bottom: 20px;
}

/* TASK CARD */
li {
  list-style: none;
  background: #0f172a;
  padding: 18px;
  border-radius: 16px;
  margin-bottom: 16px;
}

.task-header {
  display: flex;
  justify-content: space-between;
}

.priority.low { color: #22c55e; }
.priority.medium { color: #facc15; }
.priority.high { color: #ef4444; }

.task-time {
  font-size: 12px;
  color: #94a3b8;
  margin: 8px 0;
}

.actions button {
  margin-right: 6px;
  background: #334155;
  color: white;
  font-size: 12px;
}
